.clock {
    position: relative;
    height: 25em;
    width: 25em;
    border-radius: 50%;
    background: white;
    border: 2em solid black;
}

.hand {
    position: absolute;
    top: 49%;
    width: 50%;
    height: .5em;
    background:black;
    transform-origin: 100%;
    transition: all 0.1s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hour {
    left: 1%;
    width: 49%;
    z-index: 1;
}

.minute {
    left: 6%;
    width: 44%;
    z-index: 2;
}

.second {
    left: 11%;
    width: 39%;
    z-index: 3;
}